.hero-selection {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.hero-grid {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
}

.hero {
    margin: 5px;
    height: 124px;
}

.hero.p1:focus {
    outline: 10px solid green;
}

.hero.p2:focus {
    outline: 10px solid red;
}

.hero-logo {
    height: 124px;
}

.hero-selection-header {
    width: 520px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.hero-selection-header .title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.hero-selection-header .sub-title {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.hero-selection-header .sub-title .hero-name {
    font-weight: 600;
}